<%- include('templates/header') %>
<main>
  <p>
    Hi! I'm a passionate creator who loves building simple websites and sharing
    knowledge.
  </p>
</main>
<%- include('templates/footer') %>
